<div class="container-fluid" style="text-align: center;">
  <div aside class="genetics-details" style="display: inline-block;vertical-align: middle;">
      <p><i class="fa fa-flask" aria-hidden="true"></i> DNA match: {{getDnaMatch()}}%</p>
      <p> say more stuff...</p>
      <p> say more stuff...</p>
      <p> say more stuff...</p>
      <p> say more stuff...</p>
  </div>
  <div style="display: inline-block;vertical-align: middle;">
    <gene420-genetics #genetics></gene420-genetics>
  </div>

</div>

