<div>

  <div *ngIf="stage == 0" class="sign-up-form">
    <div style="display: block; text-align: center;">
      <h1>Sign Up</h1>
    </div>
    <form #initialForm="ngForm" (ngSubmit)="submit(initialForm.value)">
      <div style="display: block;">
        <p>
          Please fill in some basic personal details...
        </p>
        First Name
        <p><input type="text" name="firstName" class="form-control" style="width:200px;" ngModel required/></p>
        Last Name
        <p><input type="text" name="lastName" class="form-control" style="width:200px;" ngModel required/></p>
        E-mail address
        <p><input type="text" name="email" class="form-control" style="width:200px;" ngModel required/></p>
        Password
        <p><input type="password" name="password" class="form-control" style="width:200px;" ngModel required/></p>
        <p>
          <button type="submit" style="width:200px" [disabled]="!initialForm.form.valid">
            Continue
          </button>
        </p>

      </div>
    </form>
  </div>

  <div *ngIf="stage == 1">
    <gene420-dna-upload></gene420-dna-upload>
  </div>

  <div *ngIf="stage == 2" class="sign-up-form">
    <form #questionnaireForm="ngForm" (ngSubmit)="submitQuestionnaire(questionnaireForm.value)">
      <div style="display: block;">
        <p>
          Please answer a few more questions, so we can further enhance our understanding of your specific needs...
        </p>

        <!-- birth day -->
        <label class="bday-label" for="bday">Birth Day:</label>
        <p>
          <input class="form-control" id="bday" type="date" name="bday" ([ngModel])="questionnaireForm.bday" ngModel required>
        </p>

        <!-- gender -->
        <label class="gender-label" for="gender">Gender</label>
        <p>
          <select class="input-field" id="gender"
                  required
                  [(ngModel)]="questionnaireForm.gender" name="gender">
            <option [value]="'male'">Male</option>
            <option [value]="'female'">Female</option>
          </select>
        </p>

        <!-- wieght -->
        <label class="weight-label" for="weight">Weight (Kgs)</label>
        <p><input type="text" id="weight" name="weight" class="form-control" style="width:200px;" ngModel required/></p>

        <!-- height -->
        <label class="height-label" for="height">Height (Cms)</label>
        <p><input type="text" id="height" name="height" class="form-control" style="width:200px;" ngModel required/></p>

        <!-- objective -->

        <!-- mental issues -->
        <label class="usage-objective-label">Cannabis usage objective:</label>

        <p>
          <input type="checkbox" id="pain-objective" name="pain-objective" [(ngModel)]="questionnaireForm.painObjective"/> Pain Relief
        </p>
        <p>
          <input type="checkbox" id="stress-objective" name="stress-objective" [(ngModel)]="questionnaireForm.stressRelief"/> Stress Relief
        </p>
        <p>
          <input type="checkbox" id="insomnia-objective" name="insomnia-objective" [(ngModel)]="questionnaireForm.insomniaObjective"/> Insomnia
        </p>
        <p>
          <input type="checkbox" id="recreational" name="recreational" [(ngModel)]="questionnaireForm.recrational"/> Recreational
        </p>
        <p>
          <input type="checkbox" id="other-objective" name="other-objective" [(ngModel)]="questionnaireForm.otherObjective"/> Other Objective
        </p>


        <!-- mental issues -->
        <label class="mental-disorders-label">Have you ever suffered from the following mental disorders?</label>

        <p>
          <input type="checkbox" id="anxiety" name="anxiety" [(ngModel)]="questionnaireForm.anxiety"/> Anxiety Attacks
        </p>
        <p>
          <input type="checkbox" id="depression" name="depression" [(ngModel)]="questionnaireForm.depression"/> Depression
        </p>
        <p>
          <input type="checkbox" id="psychosis" name="psychosis" [(ngModel)]="questionnaireForm.psychosis"/> Psychosis
        </p>
        <p>
          <input type="checkbox" id="insomnia" name="insomnia" [(ngModel)]="questionnaireForm.insomnia"/> Insomnia
        </p>
        <p>
          <input type="checkbox" id="other-issue" name="other-issue" [(ngModel)]="questionnaireForm.otherIssue"/> Other
        </p>

        <!-- tastes-->
        <label class="tastes-label" for="tastes">Select your preferred tastes</label>
        <p>
          <select class="input-field" id="tastes"
                  required
                  [(ngModel)]="questionnaireForm.tastes" name="tastes" multiple>
            <option [value]="'sweet'">Sweet</option>
            <option [value]="'sour'">Sour</option>
            <option [value]="'spicy'">Spicy</option>
            <option [value]="'bitter'">Bitter</option>
          </select>
        </p>

        <!-- Consumption -->
        <label class="consumption-label">How do you consume the varieties/products?</label>

        <p>
          <input type="checkbox" id="smoking" name="smoking" [(ngModel)]="questionnaireForm.smoking"/> Smoking
        </p>
        <p>
          <input type="checkbox" id="oil" name="oil" [(ngModel)]="questionnaireForm.oil"/> Liquid Oil Droplets
        </p>
        <p>
          <input type="checkbox" id="evaporation" name="evaporation" [(ngModel)]="questionnaireForm.evaporation"/> Evaporation
        </p>
        <p>
          <input type="checkbox" id="oil-capsules" name="oil-capsules" [(ngModel)]="questionnaireForm.oilCapsules"/> Oil Capsules
        </p>
        <p>
          <input type="checkbox" id="rectal" name="rectal" [(ngModel)]="questionnaireForm.rectalCandles"/> Rectal Candles
        </p>
        <p>
          <input type="checkbox" id="honey" name="honey" [(ngModel)]="questionnaireForm.honey"/> Honey
        </p>
        <p>
          <input type="checkbox" id="other-consumption" name="other-consumption" [(ngModel)]="questionnaireForm.otherConsumption"/> Other
        </p>

        <p>
          <button type="submit" style="width:200px" [disabled]="!questionnaireForm.form.valid">
            Continue
          </button>
        </p>
      </div>
    </form>
  </div>

  <div *ngIf="stage == 3" class="sign-up-form">
    <div *ngIf="!dnaLoaded && !skipped && errorSignupMessage==''">

      <h2>Analyzing your DNA... This might take a few minutes... {{getLoadingProgress()}}%</h2>

    </div>
    <div *ngIf="dnaLoaded || skipped && errorSignupMessage==''">

      <h2>You are good to go...! Enjoy!</h2>
      <p>
        <button style="width:200px" (click)="navigateToPrivateArea()">
          Go To My Private Area
        </button>
      </p>


    </div>

    <div *ngIf="errorSignupMessage!=''">
      <h2>There was an error with the signup!</h2>
      <p>
        {{errorSignupMessage}}
      </p>
      <p>
        <button style="width:200px" (click)="startOver()">
          Start Over
        </button>
      </p>


    </div>
  </div>


</div>
