<div>
  <div style="display: block; text-align: center;">
    <h1>Sign Up</h1>
  </div>



  <div *ngIf="stage == 0" class="sign-up-form">
    <form #initialForm="ngForm" (ngSubmit)="submitInitialForm(initialForm.value)">
      <div style="display: block;">
        <p>
          Please fill in some basic personal details...
        </p>
        First Name
        <p><input type="text" name="firstName" class="form-control" style="width:200px;" ngModel required/></p>
        Last Name
        <p><input type="text" name="lastName" class="form-control" style="width:200px;" ngModel required/></p>
        E-mail address
        <p><input type="text" name="email" class="form-control" style="width:200px;" ngModel required/></p>
        Password
        <p><input type="password" name="password" class="form-control" style="width:200px;" ngModel required/></p>
        <p>
          <button type="submit" style="width:200px" [disabled]="!initialForm.form.valid">
            Continue
          </button>
        </p>

      </div>
    </form>
  </div>

  <div *ngIf="stage == 1" class="sign-up-form">

    <form #uploadDnaForm="ngForm" (ngSubmit)="submitDNA(uploadDnaForm.value)">
      <div style="display: block;">
        <p>
          For best tailoring your cannabis strains, please upload your DNA data...
        </p>

        <label class="beta-tester-label" for="betaTesterCountry">Vendor</label>
        <p>
          <select class="input-field" id="betaTesterCountry"
                  required
                  [(ngModel)]="uploadDnaForm.vendor" name="vendor">
            <option *ngFor="let vendor of vendorList" [value]="vendor">{{vendor}}</option>
          </select>
        </p>
        File
        <p><input type="file" (change)="detectFiles($event)" name="file" class="form-control" style="width:350px;" ngModel required/></p>
        <p>
          <button style="width:200px" (click)="skipUploading()">
            Skip
          </button>
          <button type="submit" style="width:200px" [disabled]="!uploadDnaForm.form.valid">
            Continue
          </button>
        </p>

      </div>
    </form>

  </div>

  <div *ngIf="stage == 2" class="sign-up-form">
    <form #questionnaireForm="ngForm" (ngSubmit)="submitQuestionnaire()">
      <div style="display: block;">
        <p>
          Please answer a few more questions, so we can further enhance our understanding of your specific needs...
        </p>
        <p>
          <button type="submit" style="width:200px" [disabled]="!questionnaireForm.form.valid">
            Continue
          </button>
        </p>
      </div>
    </form>
  </div>

  <div *ngIf="stage == 3" class="sign-up-form">
    <div *ngIf="!dnaLoaded">

      <h2>Analyzing your DNA... This might take a few minutes... {{getLoadingProgress()}}%</h2>

    </div>
    <div *ngIf="dnaLoaded">

      <h2>You are good to go...! Enjoy!</h2>


    </div>
  </div>


</div>
