<nav class="navbar navbar-default" style="display:flex;">
  <div class="container-fluid" style="margin-top:0px;">
    <div class="navbar-header"></div>
    <div class="collapse navbar-collapse" style="align-items:stretch;">
      <ul class="nav navbar-nav">
        <li [ngClass]="getIsCurrentStrainView('my-ratings') ? 'active': ''"><a [routerLink]="'/my-ratings'">My Ratings</a></li>
        <li [ngClass]="getIsCurrentStrainView('browse-strains') ? 'active': ''"><a [routerLink]="'/browse-strains'">Browse Strains</a></li>
      </ul>
    </div>

  </div>
</nav>


