<div style="text-align: center;">
  <gene420-loading [loaded]="loaded"></gene420-loading>
</div>

<!-- Indicators -->

  <div *ngIf="loaded"
    ng2-carouselamos
    [width]="410"
    [items]="strains"
    [$item]="itemTemplate"
    [$prev]="prevTemplate"
    [$next]="nextTemplate"
    (onSelectedItem)="onSelectedStrain($event.item)"
  ></div>


  <!--<ng-template #prevTemplate>
  (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"
    <div class="navigator" style="font-size:5em;">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>

  </ng-template>

  <ng-template #nextTemplate>
    <div class="navigator" style="font-size:5em;">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
  </ng-template>-->

  <ng-template let-item let-i="index" #itemTemplate>

      <gene420-strain
        [name]="item['name']"
        [imageUrl]="item['image']"
        [thc]="item['thc']"
        [strainType]="item['type']"
        [width]="230"
        [height]="getStrainHeight()"
        [margin]="15"
        (onReview)="reviewStrain($event)"
        (onHover)="strainHovered($event)"
        (onHoverEnded)="strainHoverEnded($event)"
      >
      </gene420-strain>

  </ng-template>


