.strain {
  display:block;
}
.wrapper{
  width: 80%;
  margin: 60px auto;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@media only screen and (max-width : 510px) {
  .navigator {
    display:none !important;
  }
}
