<div class="container-fluid questionnaire">
  <h1>Questionnaire</h1>
  <div style="display: block;">
    <gene420-progress [currentStage]="currentStage"></gene420-progress>
  </div>

  <div style="display: block; margin-top: 20px;">
    <gene420-personal-questionnaire [shouldShow]="currentStage==0"></gene420-personal-questionnaire>
    <gene420-health-questionnaire [shouldShow]="currentStage==1"></gene420-health-questionnaire>
    <gene420-preferences-questionnaire [shouldShow]="currentStage==2"></gene420-preferences-questionnaire>
  </div>


</div>
