  <a (click)="strainSelected('Indica')">
    <div class="card">
      <h3 class="card-header">
        Type
      </h3>
      <div class="card-block">
        <h4 class="card-title">
          Indica
        </h4>
      </div>
    </div>
  </a>


  <div class="card">
    <h3 class="card-header">
      Type
    </h3>
    <div class="card-block">
      <h4 class="card-title">
        Sative
      </h4>
    </div>
  </div>



  <div class="card">
    <h3 class="card-header">
      Type
    </h3>
    <div class="card-block">
      <h4 class="card-title">
        Hubrid
      </h4>
    </div>
  </div>




