
<div style="display: block;">
  <div>
    <div style="display: block">
      <canvas baseChart #baseChart="base-chart" align="center"
              [datasets]="geneticsChartData"
              [labels]="geneticsChartLabels"
              [options]="geneticsChartOptions"
              [legend]="geneticsChartLegend"
              [chartType]="geneticsChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">

      </canvas>
    </div>
  </div>
</div>


