.wrapper {
  height: 100vh;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;
}

header{
  height:100px;
}
footer {
  left: 0;
  width:100%;
  position: fixed;
  text-align: center;
  bottom: 0px;
  height: 250px;
  background: white;
}

main {
  overflow: scroll;
  flex: 1;
}
