<div class="card" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <img class="card-img-top" [src]="imageUrl" width="80" height="100" style="margin:2px;">
  <div class="card-block">
    <h4 class="card-title">
      {{name}}
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <button (click) ="review()" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </h4>
    <p class="card-text">THC: {{thc}}</p>
    <p class="card-text">{{strainType}}</p>
    <p><gene420-rating [stars]="getRating()"></gene420-rating></p>
  </div>
</div>
