<h1>What kind of mood are you in?</h1>
<div class="row-example" >
  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/pain.png" class="myFlexedImage">
      <h3>Pain Relief</h3>
    </a>
  </div>

  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/creative.png" class="myFlexedImage">
      <h3>Creativity</h3>
    </a>
  </div>

  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/party.png" class="myFlexedImage">
      <h3>Party</h3>
    </a>
  </div>

  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/passion.png" class="myFlexedImage">
      <h3>Passion</h3>
    </a>
  </div>

  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/philso.png" class="myFlexedImage">
      <h3>Philosopher</h3>
    </a>
  </div>

  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/sleep.png" class="myFlexedImage">
      <h3>Sleepy</h3>
    </a>
  </div>

  <div class="child">
    <a [routerLink]="'/dashboard'">
      <img src="assets/relaxation.png" class="myFlexedImage">
      <h3>Relaxation</h3>
    </a>
  </div>

</div>
