<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="margin-top:15px;">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a class="navbar-brand" href="#" class="align-top">
          <img src="/assets/gene_420_logo.png" width="120" height="60"  alt="">
        </a>
      </div>

    </div>
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'in': isIn }">
      <ul class="nav navbar-nav">
        <li><a>Home</a></li>
        <li><a>Science</a></li>
        <li><a>Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin:5px;border:1px">
        <li><a>Sign In</a></li>
        <li><a>Sign Up</a></li>
      </ul>
    </div>

  </div>
</nav>

