<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="margin-left:100px;">
        <a class="navbar-brand" [routerLink]="'/home'" class="align-bottom">
          <img src="assets/logo.png" width="212" height="85" style="margin-right:5px;">

        </a>
      </div>

    </div>
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'in': isIn }" style="margin-top: 20px;">
      <ul class="nav navbar-nav">
        <!--disabled for now -->
        <li class="nav-button"><a href="#home" style="color:white;font-size:14px;font-weight: 100;">Home</a></li>
        <!--<li class="nav-button"><a [routerLink]="'/science'" style="color:white;font-size:14px;font-weight: 100;">Science</a></li>-->
        <li class="nav-button"><a href="#betaTesting" style="color:white;font-size:14px;font-weight: 100;">Beta Testing</a></li>
        <li class="nav-button"><a href="#getInTouch" style="color:white;font-size:14px;font-weight: 100;">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin:20px;">
        <!-- disabled for now -->
        <!--
        <gene420-sign-in-up-nav></gene420-sign-in-up-nav>
        <gene420-avatar (collapse)="toggleState()"></gene420-avatar>
        -->
      </ul>
    </div>

  </div>
</nav>

