.navbar {
  background-color: #2F9A9C;
  margin-bottom:0px;
  border:0px;
}

.brand{
  font-family: Georgia;
  color:white;
  font-size: 34px;
  font-weight: 700;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.nav-button {
  font-size: x-large;
  margin-top: 0px;
}
