<div>
    <div style="display: block; text-align: center;">
      <h1>Sign In</h1>
    </div>

    <div class="sign-in-form">
      <div style="display: block;">
        <form #form="ngForm" (ngSubmit)="login(form.value)">
          E-mail address
          <p><input type="text" name="email" class="form-control" style="width:200px;" ngModel required/></p>
          Password
          <p><input type="password" name="password" class="form-control" style="width:200px;" ngModel required/></p>
          <p>
            <input type="checkbox" name="remember"> Remember Me
          </p>
          <p>
            <button type="submit" style="width:200px">
              Sign In
            </button>
          </p>
        </form>
        <p>
          <button class="loginBtn loginBtn--google" (click)="loginWithGoogle()">
            Sign In with Google
          </button>
        </p>

      </div>
    </div>

</div>
