<div>
    <div style="display: block; text-align: center;">
      <h1>Sign In</h1>
    </div>

    <div class="sign-in-form">
      <div style="display: block;">
        Username or E-mail address
        <p><input type="text" name="username" style="width:200px;"/></p>
        Password
        <p><input type="password" name="password" style="width:200px;"/></p>
        <p>
          <input type="checkbox" name="remember"> Remember Me
        </p>
        <p>
          <button style="width:200px">
            Sign In
          </button>
        </p>
        <p>
          <button class="loginBtn loginBtn--google" (click)="login()">
            Sign In with Google
          </button>
        </p>

      </div>
    </div>

</div>
