<div style="height:600px; width:850px; overflow-y: scroll;">
  <ul class="list-inline" style="text-align: center">
    <li *ngFor="let strain of strains | async;">
      <gene420-strain
        [name]="strain['name']"
        [imageUrl]="strain['image']"
        [ocpc]="strain['ocpc']"
        [seedCompany]="strain['seedCompany']['name']"
        (onReview)="reviewStrain($event)"
      >
      </gene420-strain>
    </li>
  </ul>
</div>
<gene420-review-strain-modal #reviewStrainModal></gene420-review-strain-modal>
