
<div style="display:block;">
  <div class="container-fluid beta" id="betaTesting">
    <div style="display: block;margin-top:50px;">
      <h1>Beta Testing</h1>
    </div>
    <p>Would you like to be the first to try our services, for free?</p>
    <p>Sign up below and we promise to contact you shortly!</p>
    <form (ngSubmit)="onBetaTestingSubmit()" #betaTestingForm="ngForm">
      <div class="form-group">
        <input type="text" class="input-field" id="betaTesterName"
               required placeholder="Full Name" [(ngModel)]="betaTesterInformation.name" name="name">
      </div>

      <div class="form-group">
        <input type="text" class="input-field" id="betaTesterEmail"
               required
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$"
               placeholder="Email Address" [(ngModel)]="betaTesterInformation.email" name="email">
      </div>

      <div class="form-group">
        <label class="beta-tester-label" for="betaTesterAge">Age</label>
        <select class="input-field" id="betaTesterAge"
                required
                [(ngModel)]="betaTesterInformation.age" name="age">
          <option [value]="'18-30'">18-30</option>
          <option [value]="'31-40'">31-40</option>
          <option [value]="'41-50'">41-50</option>
          <option [value]="'51-60'">51-60</option>
          <option [value]="'60+'">60+</option>
        </select>
      </div>

      <div class="form-group">
        <label class="beta-tester-label" for="betaTesterCountry">Country</label>
        <select class="input-field" id="betaTesterCountry"
                required
                [(ngModel)]="betaTesterInformation.country" name="country">
          <option *ngFor="let country of countryList" [value]="country">{{country}}</option>
        </select>
        <!--<div [hidden]="betaTesterInformation.age.valid || betaTesterInformation.age.pristine" class="alert alert-danger">
          Age is required
        </div>-->
      </div>
      <div class="form-group">
        <input type="text" class="input-field" id="betaTesterZipCode"
               placeholder="Zip Code" [(ngModel)]="betaTesterInformation.zipCode" name="zipCode">
      </div>

      <div class="form-group">
        <label class="beta-tester-label" for="betaTesterAge">Interested In Cannabis For</label>
        <select class="input-field" id="betaTesterCannabisPurpose"
                required
                [(ngModel)]="betaTesterInformation.cannabisPurpose" name="cannabisPurpose">
          <option [value]="'recreational'">Recreational Use</option>
          <option [value]="'medical'">Medical Use</option>
          <option [value]="'both'">Both</option>
        </select>

      </div>

      <div class="form-group">
        <label class="beta-tester-label" for="betaTesterAge">Experience With Cannabis</label>
        <select class="input-field" id="betaTesterCannabisExperience"
                required
                [(ngModel)]="betaTesterInformation.cannabisExperience" name="cannabisExperience">
          <option [value]="'daily'">Daily Use</option>
          <option [value]="'weekly'">Weekly Use</option>
          <option [value]="'monthly'">Monthly Use</option>
          <option [value]="'never'">I Never Tried, But Would Love To!</option>
        </select>

      </div>

      <button type="submit" class="btn btn-success btn-lg" style="width:250px;margin: 10px;" [disabled]="!betaTestingForm.form.valid">Become A Beta Tester</button>

    </form>
  </div>
</div>

<gene420-submit-modal #submitModal></gene420-submit-modal>
