<div style="display: flex;justify-content: center;">
  <div style="display: block">
  <div class="panel panel-info" style="margin-left: 10px;">
    <div class="panel-heading"><img [src]="photoUrl" width="40" height="40"/> {{displayName}}</div>
    <div class="panel-body">
      <div style="display:block">
       Email: {{email}}
      </div>
      <div style="display:block">
        Age: {{user | async | age }}
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Genetic Overview <i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
    <div class="panel-body">
      <div style="display:block; max-width:250px;">
        <gene420-genetics [user]="user"></gene420-genetics>
      </div>
    </div>
  </div>
  </div>
  <div class="panel panel-info" style="margin-left: 10px;">
    <div class="panel-heading">
      <gene420-user-nav-bar [currentStrainView]="currentStrainView"></gene420-user-nav-bar>
    </div>
    <div class="panel-body">
      <gene420-strain-browser></gene420-strain-browser>
    </div>
  </div>
</div>
