<div class="container-fluid">
  <div class="container-fluid motto" style="height: 70vh;">
    <div style="">
      <h1>DNA tells the story of you.</h1>
      <div>
        <h4>Ever wondered what strain of cannabis is best for you <i>personally</i>?</h4>
        <h4>We provide a personal science based recommendation according to</h4>
        <h4>your DNA to help you achieve the ULTIMATE experience</h4>
      </div>

      <div style="display: block">
        <a class="btn btn-success btn-lg" style="width:200px;"
                href="mailto:info@gene420.com?subject=I'm interested in Personalized marijuana.&body=Please tell me more on how I can find my perfect matching strains!">
          Get Started</a>
      </div>
    </div>
    <div style="display: block;">
      <img src="assets/evolution1.png"/>
    </div>

  </div>
</div>
<div style="display:block;">
  <div>
    <div class="motto">
    </div>
  </div>
</div>

<!--<hr class="separator">-->
<div style="display:block;">
  <div class="container-fluid how-it-works">
    <div style="display: block;margin-top:50px;">
      <h1>How It Works</h1>
    </div>
    <div style="display: block;margin-top:2%;">
      <div class="stage">
          <img src="assets/order_test.png"/>
        <h3>ORDER</h3>
        <p>Order your personal Gene420 DNA test</p>
      </div>
      <div class="stage">
          <img src="assets/get_sequenced.png"/>
          <h3>SEND BACK</h3>
        <p>Take the saliva sample & send back to us.</p>
      </div>
      <div class="stage">
        <img src="assets/find_dispensaries.png"/>
        <h3>WE ANALYZE</h3>
        <p>We then analze your DNA and through scientific research</p>
        <p> match it with strains in your area.</p>
      </div>
      <div class="stage">
        <img src="assets/420_menu.png"/>
        <h3>PERFECT STRAIN MENU</h3>
        <p>Log to your account to choose from tailored menu of strains.</p>
      </div>
    </div>
  </div>
</div>
<div style="display:block;">
  <div class="container-fluid get-in-touch">
    <div style="display: block;margin-top:50px;">
      <h1>Get In Touch</h1>
    </div>
    <p>Gene 420 will be available soon.</p>
    <p>In the meantime, if you have any questions or ideas, please let us know!</p>
    <div style="display: block">
      <p>
        <input type="text" placeholder="Your Name" class="input-field">
      </p>
      <p>
        <input type="text" placeholder="Email Address" class="input-field">
      </p>
      <p>
        <textarea placeholder="Your Message" class="text-area"></textarea>
      </p>

      <button class="btn btn-success btn-lg" style="width:200px;">Send</button>
    </div>
  </div>
</div>
