<div class="container-fluid">
  <div class="container-fluid motto">
    <div style="margin-right:10%;">
      <h1>Find your DNA compatible strain</h1>
      <div>
        <h3>Maximize your enjoyment and benefits and minimize your risk.<br/>
        Get personalized strains compatible with your DNA,<br/>
          and connect with similar DNA groups to share your experience</h3>
      </div>

      <div style="display: block">
        <a class="btn btn-primary btn-lg"
                href="mailto:info@gene420.com?subject=I'm interested in Personalized marijuana.&body=Please tell me more on how I can find my perfect matching strains!">
          I want to find perfectly matching strains</a>
      </div>
    </div>
    <div style="display: block;">
      <img src="assets/personalize.png"/>
    </div>

  </div>
</div>
<div style="display:block;">
  <div>
    <div class="motto">
    </div>
  </div>
</div>

<hr class="separator">
<div style="display:block;">
  <div class="container-fluid how-it-works">
    <div style="display: block;">
      <h2>How It Works</h2>
    </div>
    <div style="display: block;margin-top:2%;">
      <div class="stage">
          <img src="assets/stage1_share_dna.png"/>
        <p>Get your kit,<p>
        <p>Share your DNA</p>
      </div>
      <div class="stage">
          <img src="assets/stage2_analyze.png"/>
          <p>We analyze your DNA to </p>
        <p>find perfect matching strains </p>
          <p>just for you.</p>
      </div>
      <div class="stage">
        <img src="assets/stage3_enjoy.png"/>
        <p>Enjoy strains safely<p>
      </div>
      <div class="stage">
        <img src="assets/stage4_connect.png"/>
        <p>Connect with similar DNA </p>
        <p>groups to explore strains together!</p>
      </div>
    </div>
  </div>
</div>
