.motto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.how-it-works {
  text-align: center;
}

.stage {
  margin:2%;
  display: inline-block;
  vertical-align:top;
}

.separator {
  margin:12px;
}

/* TODO: change later */

h1 {
  margin-top:1px;
  font-size: 44px;
}
