<div style="text-align: center;clear:none;">

  <div style="height:35px; align-items: stretch; background-color: #f6f6f6;">
    <div style="margin:5px;display: inline-block;">
      <b>Type</b>
      <select>
        <option>All</option>
        <option>Indica</option>
        <option>Sativa</option>
        <option>Hybrid</option>
      </select>
    </div>

    <div style="margin:5px;display: inline-block;">
      <b>THC Content</b>
      <select>
        <option>All</option>
        <option>0-10%</option>
        <option>11-20%</option>
        <option>21-30%</option>
        <option>31+%</option>
      </select>
    </div>

    <div style="margin:5px;display: inline-block;">
      <b>CBD Content</b>
      <select>
        <option>All</option>
        <option>0-10%</option>
        <option>11-20%</option>
        <option>21-30%</option>
        <option>31+%</option>
      </select>
    </div>
    <div style="margin-left:50px;display: inline-block;">
      <button>Reset</button>
      <button>Apply</button>

    </div>

  </div>
  <!--strain list-->
  <div style="display:inline-block;">
    <gene420-loading [loaded]="loaded"></gene420-loading>
  </div>

  <div style="width:100%;display:block; overflow-y: auto;" *ngIf="loaded">

    <ul class="list-inline" style="text-align: center" >
      <!--<li *ngFor="let strain of strains | async | strainType:'Indica';">-->
      <li *ngFor="let strain of strains | async;">
        <gene420-strain
          [name]="strain['name']"
          [imageUrl]="strain['image']"
          [thc]="strain['thc']"
          [strainType]="strain['type']"
          (onReview)="reviewStrain($event)"
          (onHover)="strainHovered($event)"
          (onHoverEnded)="strainHoverEnded($event)"
        >
        </gene420-strain>
      </li>
    </ul>
  </div>
</div>

<!--<div style="text-align: center;margin-top: 15%;">
  <gene420-strain-type-selector></gene420-strain-type-selector>
</div>-->

<gene420-review-strain-modal #reviewStrainModal></gene420-review-strain-modal>
